@use "../base/variables.scss";

.about {
    padding: 70px 0 90px 0;
    background: $black;
    &__title {
        font-size: 36px;
        color: $white;
    }
    &__descr {
        margin-top: 20px;
        font-weight: 400;
        font-size: 17px;
        line-height: 140%;
        color: $white;
    }
    &__block {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    &__item {
        margin-top: 40px;
        &-title {
            font-size: 28px;
            color: $white;
        }
        &-text,
        &-subtext {
            margin-top: 20px;
            font-weight: 400;
            font-size: 17px;
            line-height: 140%;
            color: $white;
        }
        &-btn {
            margin-top: 35px;
            border-radius: 100px;
            padding: 13px 80px 18px;
            background: $white;
            font-weight: 700;
            font-size: 17px;
            line-height: 140%;
            color: $black;
        }
    }
}

@media screen and (min-width: 480px) {
    .about {
        &__title {
            font-size: 40px;
        }
        &__img {
            max-width: 340px;
            max-height: 340px;
        }
        &__item {
            max-width: 330px;
        }
    }
}

@media screen and (min-width: 768px) {
    .about {
        padding: 90px 0 90px 0;
        &__header {
            max-width: 580px;
        }
        &__title {
            font-size: 48px;
        }
        &__descr {
            margin-top: 30px;
            font-size: 21px;
        }
        &__block {
            margin-top: 50px;
            flex-direction: row;
            gap: 40px;
        }
        &__img {
            max-width: 300px;
            max-height: 300px;
        }
        &__item {
            margin-top: 0;
            max-width: 360px;
            &-title {
                font-size: 36px;
            }
            &-text {
                margin-top: 30px;
                font-size: 21px;
            }
            &-subtext {
                font-size: 21px;
            }
            &-btn {
                font-size: 21px;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .about {
        &__header {
            max-width: 630px;
        }
        &__block {
            margin-top: 50px;
            flex-direction: row;
            align-items: center;
            gap: 50px;
        }
        &__img {
            max-width: 380px;
            max-height: 380px;
        }
        &__item {
            max-width: 100%;
            &-btn {
                margin-top: 45px;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .about {
        padding: 150px 0;
        &__wrapper {
            display: flex;
            align-items: center;
        }
        &__header {
            max-width: 480px;
        }
        &__item {
            padding-top: 25px;
        }
    }
}
