@use "../base/variables.scss";

.discount {
    padding-top: 70px;
    &__title {
        font-size: 36px;
        color: $black;
    }
    &__text {
        margin-top: 20px;
        font-weight: 400;
        font-size: 17px;
        line-height: 140%;
        color: $black;
    }
    &__input {
        position: relative;
        margin-top: 40px;
        border: none;
        font-weight: 400;
        font-size: 17px;
        line-height: 140%;
        color: $black;
        opacity: 0.3;
    }
    &__line {
        margin-top: 15px;
        display: block;
        content: "";
        width: 320px;
        border: 2px solid;
        border-radius: 5px;
        background-color: black;
    }
    &__btn {
        margin-top: 40px;
        background: $black;
        font-weight: 700;
        font-size: 17px;
        color: $white;
    }
}

@media screen and (min-width: 480px) {
    .discount {
        &__title {
            font-size: 40px;
        }
    }
}

@media screen and (min-width: 768px) {
    .discount {
        padding-top: 90px;
        &__block {
            max-width: 700px;
        }
        &__title {
            font-size: 48px;
        }
        &__text {
            margin-top: 30px;
            font-size: 21px;
        }
        &__input {
            margin-top: 50px;
            font-size: 21px;
        }
        &__line {
            width: 450px;
        }
        &__btn {
            font-size: 21px;
        }
    }
}

@media screen and (min-width: 1000px) {
    .discount {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media screen and (min-width: 1920px) {
    .discount {
        padding-top: 130px;
        &__wrapper {
            align-items: flex-end;
            max-width: 1220px;
        }
        &__ {
            font-size: 22px;
        }

        &__line {
            width: 490px;
        }
    }
}
