@use "../base/variables.scss";

.follow {
    padding-top: 70px;
    &__title {
        font-size: 36px;
        color: $black;
    }
    &__wrapper {
        margin-top: 40px;
    }
    &__block {
        &:nth-child(2) {
            display: none;
        }
        &:nth-child(3) {
            margin-top: 10px;
        }
        &:nth-child(3) img {
            display: none;
        }
        &-text {
            margin-top: 10px;
            font-weight: 400;
            font-size: 17px;
            line-height: 140%;
            color: $black;
        }
    }
    &__link {
        font-weight: 400;
        font-size: 28px;
        line-height: 140%;
        color: $black;
        text-decoration: none;
    }
}

@media screen and (min-width: 480px) {
    .follow {
        &__title {
            font-size: 40px;
        }
    }
}

@media screen and (min-width: 768px) {
    .follow {
        padding-top: 90px;
        &__title {
            font-size: 48px;
        }
        &__wrapper {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__block {
            &:nth-child(1) {
            }
            &:nth-child(2) {
                display: block;
            }
            &:nth-child(3) {
                display: none;
            }
            &-text {
                margin-top: 15px;
                font-size: 21px;
            }
        }
        &__link {
            font-size: 36px;
        }
    }
}

@media screen and (min-width: 1000px) {
    .follow {
        &__wrapper {
            gap: 20px;
            overflow: hidden;
        }
        &__block {
            &:nth-child(1) {
            }
            &:nth-child(2) {
                display: block;
            }
            &:nth-child(2) a {
                display: none;
            }
            &:nth-child(3) {
                display: block;
                margin: 0;
            }
            &:nth-child(3) img {
                display: block;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .follow {
        padding-top: 130px;
        &__wrapper {
            max-width: none;
            width: 100%;
            gap: 30px;
            justify-content: center;
            overflow: visible;
        }
        &__block {
            &:nth-child(1) {
                flex-grow: 2;
                // flex-basis: 300px;
            }
            &:nth-child(2) {
                flex-grow: 4;
                // flex-basis: 600px;
            }
            &:nth-child(3) {
                flex-grow: 1;
                // flex-basis: 200px;
            }
            &:nth-child(1) img {
                width: 100%;
                height: auto;
            }
            &:nth-child(2) img {
                width: 100%;
                height: auto;
            }
            &:nth-child(3) img {
                width: 100%;
                height: auto;
            }
            &-text {
                max-width: 320px;
                font-size: 19px;
            }
        }
        &__link {
            font-size: 32px;
        }
    }
}
