.popular {
    padding-top: 70px;
    &__title {
        font-size: 36px;
        color: $black;
    }
    &__product {
        margin-top: 40px;
        &-wrapper {
            display: block;
            overflow: hidden;
        }
        &-card {
            &.second {
                display: none;
            }
            &.third {
                display: none;
            }
            .plus_btn {
                display: none;
            }
        }
        &-bg {
            background: $beige;
            border-radius: 20px;
            padding: 40px;
        }
        &-img {
            margin: 0 auto;
            border-radius: 10px;
        }
        &-name {
            display: block;
            margin-top: 10px;
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: $black;
        }
        &-descr {
            margin-top: 5px;
            display: flex;
            gap: 80px;
            align-items: center;
        }
        &-size,
        &-price {
            font-weight: 400;
            font-size: 17px;
            line-height: 140%;
            color: $black;
        }
    }
    &__slider {
        margin-top: 40px;
        text-align: center;
    }
}

@media screen and (min-width: 480px) {
    .popular {
        &__title {
            font-size: 40px;
        }
        &__product {
            &-wrapper {
                display: flex;
                gap: 20px;
            }
            &-card {
                &.second {
                    display: block;
                }
            }
            &-bg {
                padding: 40px 25px;
            }
            &-img {
                &:last-child {
                    display: block;
                    width: 160px;
                    height: 160px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .popular {
        padding-top: 90px;
        &__title {
            font-size: 48px;
        }
        &__product {
            margin-top: 50px;
            &-wrapper {
                justify-content: space-between;
            }
            &-card {
                &.third {
                    display: block;
                }
            }
            &-bg {
                padding: 50px;
            }
            &-img {
                min-width: 250px;
                min-height: 250px;
            }
            &-name {
                margin-top: 15px;
                font-size: 24px;
            }
            &-descr {
                gap: 180px;
            }
            &-size,
            &-price {
                font-size: 21px;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .popular {
        &__product {
            &-bg {
                padding: 40px;
            }
            &-img {
                min-width: 205px;
                min-height: 205px;
            }
            &-descr {
                gap: 140px;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .popular {
        padding-top: 130px;
        &__product {
            &-wrapper {
                justify-content: space-between;
                gap: 30px;
            }
            &-card {
                position: relative;
                .plus_btn {
                    display: block;
                    position: absolute;
                    top: 25px;
                    right: -10px;
                }
            }
            &-bg {
                padding: 55px;
                &.round {
                    border-radius: 100%;
                }
            }
            &-img {
                min-width: 265px;
                min-height: 265px;
                &.transformed {
                    transform: rotate(6deg);
                    scale: 1.15;
                }
            }
        }
    }
}
