.promo {
    position: relative;
    padding-top: 70px;
    background-color: $beige;
    &__wrapper {
        position: relative;
    }
    &__title {
        font-size: 40px;
        color: $black;
    }
    &__text {
        margin-top: 20px;
        font-weight: 400;
        font-size: 17px;
        line-height: 140%;
        color: $black;
    }
    &__btn {
        margin-top: 35px;
        background: $black;
        font-size: 17px;
        color: $white;
    }
    &__img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 35px auto 0 auto;
    }
    &__footer {
        margin-top: 90px;
        background: url("./src/img/promo/promo_bg.jpg") center center / cover
            no-repeat;
        width: 100%;
        height: 290px;
    }
}
